<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>light1</key>
	<dict>
		<key>animationFrames</key>
		<string>1,1,1,2,2,2,3,3,3,4,5,6,7,8,9,10,11,11,11,12,12,12,13,13,13,12,12,12,11,11,11,10,9,8,7,6,5,4,3,3,3,2,2,2</string>
		<key>delay</key>
		<real>0.04</real>
		<key>filenamePrefix</key>
		<string>Dish1_</string>
	</dict>
	
	<key>light2</key>
	<dict>
		<key>animationFrames</key>
		<string>1,1,1,2,2,2,3,3,3,4,5,6,7,8,9,10,11,11,11,12,12,12,13,13,13,12,12,12,11,11,11,10,9,8,7,6,5,4,3,3,3,2,2,2</string>
		<key>delay</key>
		<real>0.04</real>
		<key>filenamePrefix</key>
		<string>Dish2_</string>
	</dict>
	
	<key>dark1</key>
	<dict>
		<key>animationFrames</key>
		<string>1,1,1,2,2,2,3,3,3,4,5,6,7,8,9,10,11,11,11,12,12,12,13,13,13,12,12,12,11,11,11,10,9,8,7,6,5,4,3,3,3,2,2,2</string>
		<key>delay</key>
		<real>0.04</real>
		<key>filenamePrefix</key>
		<string>DishDark1_</string>
	</dict>
	
	<key>dark2</key>
	<dict>
		<key>animationFrames</key>
		<string>1,1,1,2,2,2,3,3,3,4,5,6,7,8,9,10,11,11,11,12,12,12,13,13,13,12,12,12,11,11,11,10,9,8,7,6,5,4,3,3,3,2,2,2</string>
		<key>delay</key>
		<real>0.04</real>
		<key>filenamePrefix</key>
		<string>DishDark2_</string>
	</dict>
</dict>
</plist>
