<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>green5</key>
	<dict>
		<key>animationFrames</key>
		<string>5</string>
		<key>delay</key>
		<real>0.5</real>
		<key>filenamePrefix</key>
		<string>clock_green_</string>
	</dict>
	<key>green4</key>
	<dict>
		<key>animationFrames</key>
		<string>4</string>
		<key>delay</key>
		<real>0.5</real>
		<key>filenamePrefix</key>
		<string>clock_green_</string>
	</dict>
	<key>green3</key>
	<dict>
		<key>animationFrames</key>
		<string>3</string>
		<key>delay</key>
		<real>0.5</real>
		<key>filenamePrefix</key>
		<string>clock_green_</string>
	</dict>
	<key>green2</key>
	<dict>
		<key>animationFrames</key>
		<string>2</string>
		<key>delay</key>
		<real>0.5</real>
		<key>filenamePrefix</key>
		<string>clock_green_</string>
	</dict>
	<key>green1</key>
	<dict>
		<key>animationFrames</key>
		<string>1,0</string>
		<key>delay</key>
		<real>0.3</real>
		<key>filenamePrefix</key>
		<string>clock_green_</string>
	</dict>
	<key>green0</key>
	<dict>
		<key>animationFrames</key>
		<string>0</string>
		<key>delay</key>
		<real>0.5</real>
		<key>filenamePrefix</key>
		<string>clock_green_</string>
	</dict>
	<key>yellow5</key>
	<dict>
		<key>animationFrames</key>
		<string>5</string>
		<key>delay</key>
		<real>0.5</real>
		<key>filenamePrefix</key>
		<string>clock_yellow_</string>
	</dict>
	<key>yellow4</key>
	<dict>
		<key>animationFrames</key>
		<string>4</string>
		<key>delay</key>
		<real>0.5</real>
		<key>filenamePrefix</key>
		<string>clock_yellow_</string>
	</dict>
	<key>yellow3</key>
	<dict>
		<key>animationFrames</key>
		<string>3</string>
		<key>delay</key>
		<real>0.5</real>
		<key>filenamePrefix</key>
		<string>clock_yellow_</string>
	</dict>
	<key>yellow2</key>
	<dict>
		<key>animationFrames</key>
		<string>2</string>
		<key>delay</key>
		<real>0.5</real>
		<key>filenamePrefix</key>
		<string>clock_yellow_</string>
	</dict>
	<key>yellow1</key>
	<dict>
		<key>animationFrames</key>
		<string>1,0</string>
		<key>delay</key>
		<real>0.3</real>
		<key>filenamePrefix</key>
		<string>clock_yellow_</string>
	</dict>
	<key>yellow0</key>
	<dict>
		<key>animationFrames</key>
		<string>0,1</string>
		<key>delay</key>
		<real>0.5</real>
		<key>filenamePrefix</key>
		<string>clock_yellow_</string>
	</dict>
	<key>red5</key>
	<dict>
		<key>animationFrames</key>
		<string>5</string>
		<key>delay</key>
		<real>0.5</real>
		<key>filenamePrefix</key>
		<string>clock_red_</string>
	</dict>
	<key>red4</key>
	<dict>
		<key>animationFrames</key>
		<string>4</string>
		<key>delay</key>
		<real>0.5</real>
		<key>filenamePrefix</key>
		<string>clock_red_</string>
	</dict>
	<key>red3</key>
	<dict>
		<key>animationFrames</key>
		<string>3</string>
		<key>delay</key>
		<real>0.5</real>
		<key>filenamePrefix</key>
		<string>clock_red_</string>
	</dict>
	<key>red2</key>
	<dict>
		<key>animationFrames</key>
		<string>2</string>
		<key>delay</key>
		<real>0.5</real>
		<key>filenamePrefix</key>
		<string>clock_red_</string>
	</dict>
	<key>red1</key>
	<dict>
		<key>animationFrames</key>
		<string>1,0</string>
		<key>delay</key>
		<real>0.3</real>
		<key>filenamePrefix</key>
		<string>clock_red_</string>
	</dict>
	<key>red0</key>
	<dict>
		<key>animationFrames</key>
		<string>0,1</string>
		<key>delay</key>
		<real>0.5</real>
		<key>filenamePrefix</key>
		<string>clock_red_</string>
	</dict>
	<key>clear</key>
	<dict>
		<key>animationFrames</key>
		<string>0</string>
		<key>delay</key>
		<real>0.5</real>
		<key>filenamePrefix</key>
		<string>clock_red_</string>
	</dict>
	<key>auraGlow</key>
	<dict>
		<key>animationFrames</key>
		<string>1</string>
		<key>delay</key>
		<real>0.5</real>
		<key>filenamePrefix</key>
		<string>clock_glow_</string>
	</dict>
</dict>
</plist>
