<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelSelect_infoPanelLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,873},{146,79}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{146,79}}</string>
                <key>sourceSize</key>
                <string>{150,79}</string>
            </dict>
            <key>levelSelect_infoPanelRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,727},{146,79}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,79}}</string>
                <key>sourceSize</key>
                <string>{150,79}</string>
            </dict>
            <key>levelSelect_levelLocked_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,896},{109,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,95}}</string>
                <key>sourceSize</key>
                <string>{109,95}</string>
            </dict>
            <key>levelSelect_levelUnlockedPeon.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,831},{65,61}}</string>
                <key>offset</key>
                <string>{18,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,34},{65,61}}</string>
                <key>sourceSize</key>
                <string>{109,95}</string>
            </dict>
            <key>levelSelect_levelUnlockedPing.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,559},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{89,89}}</string>
                <key>sourceSize</key>
                <string>{109,95}</string>
            </dict>
            <key>levelSelect_levelUnlocked_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,799},{69,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{69,95}}</string>
                <key>sourceSize</key>
                <string>{109,95}</string>
            </dict>
            <key>levelSelect_levelUnlocked_sel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,899},{109,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,95}}</string>
                <key>sourceSize</key>
                <string>{109,95}</string>
            </dict>
            <key>levelSelect_menuHex.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{548,559}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,559}}</string>
                <key>sourceSize</key>
                <string>{548,559}</string>
            </dict>
            <key>levelSelect_planetNext_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,648},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>levelSelect_planetNext_sel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,712},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>levelSelect_planetPrevious_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,648},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>levelSelect_planetPrevious_sel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,831},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>menu_btn_galaxyMap_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,559},{204,46}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,20},{204,46}}</string>
                <key>sourceSize</key>
                <string>{348,90}</string>
            </dict>
            <key>menu_btn_galaxyMap_sel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,559},{240,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,4},{240,82}}</string>
                <key>sourceSize</key>
                <string>{348,90}</string>
            </dict>
            <key>menu_btn_returnToTitle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,559},{300,44}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,21},{300,44}}</string>
                <key>sourceSize</key>
                <string>{348,90}</string>
            </dict>
            <key>menu_btn_returnToTitle_sel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,559},{340,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{340,84}}</string>
                <key>sourceSize</key>
                <string>{348,90}</string>
            </dict>
            <key>menu_btn_settings_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,559},{168,46}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,20},{168,46}}</string>
                <key>sourceSize</key>
                <string>{348,90}</string>
            </dict>
            <key>menu_btn_settings_sel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,789},{208,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,3},{208,84}}</string>
                <key>sourceSize</key>
                <string>{348,90}</string>
            </dict>
            <key>menu_btn_tutorial_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,559},{230,46}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,20},{230,46}}</string>
                <key>sourceSize</key>
                <string>{348,90}</string>
            </dict>
            <key>menu_btn_tutorial_sel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,559},{272,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,2},{272,86}}</string>
                <key>sourceSize</key>
                <string>{348,90}</string>
            </dict>
            <key>menu_callTab_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,899},{111,53}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{111,53}}</string>
                <key>sourceSize</key>
                <string>{115,65}</string>
            </dict>
            <key>menu_callTab_sel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,895},{109,53}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{109,53}}</string>
                <key>sourceSize</key>
                <string>{115,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainMenuAtlas.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c96721d7c544b43d2770f1210ea0e364$</string>
            <key>textureFileName</key>
            <string>MainMenuAtlas.png</string>
        </dict>
    </dict>
</plist>
