<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dish1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,134},{130,162}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,162}}</string>
                <key>sourceSize</key>
                <string>{192,162}</string>
            </dict>
            <key>Dish1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,134},{130,162}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,0},{130,162}}</string>
                <key>sourceSize</key>
                <string>{192,162}</string>
            </dict>
            <key>Dish1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1846},{132,162}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{132,162}}</string>
                <key>sourceSize</key>
                <string>{192,162}</string>
            </dict>
            <key>Dish1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1682},{132,162}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{132,162}}</string>
                <key>sourceSize</key>
                <string>{192,162}</string>
            </dict>
            <key>Dish1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1846},{134,162}}</string>
                <key>offset</key>
                <string>{29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{134,162}}</string>
                <key>sourceSize</key>
                <string>{192,162}</string>
            </dict>
            <key>Dish1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,396},{128,162}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{128,162}}</string>
                <key>sourceSize</key>
                <string>{192,162}</string>
            </dict>
            <key>Dish1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,396},{128,162}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{128,162}}</string>
                <key>sourceSize</key>
                <string>{192,162}</string>
            </dict>
            <key>Dish1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,526},{126,162}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{126,162}}</string>
                <key>sourceSize</key>
                <string>{192,162}</string>
            </dict>
            <key>Dish1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,774},{114,160}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{114,160}}</string>
                <key>sourceSize</key>
                <string>{192,162}</string>
            </dict>
            <key>Dish1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,767},{118,160}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,2},{118,160}}</string>
                <key>sourceSize</key>
                <string>{192,162}</string>
            </dict>
            <key>Dish1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,767},{118,160}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,2},{118,160}}</string>
                <key>sourceSize</key>
                <string>{192,162}</string>
            </dict>
            <key>Dish1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,654},{118,160}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,2},{118,160}}</string>
                <key>sourceSize</key>
                <string>{192,162}</string>
            </dict>
            <key>Dish1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,654},{118,160}}</string>
                <key>offset</key>
                <string>{21,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,2},{118,160}}</string>
                <key>sourceSize</key>
                <string>{192,162}</string>
            </dict>
            <key>Dish2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,884},{128,149}}</string>
                <key>offset</key>
                <string>{-32,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,149}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>Dish2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,787},{110,151}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,0},{110,151}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>Dish2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1143},{114,149}}</string>
                <key>offset</key>
                <string>{29,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,2},{114,149}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>Dish2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,1010},{122,149}}</string>
                <key>offset</key>
                <string>{32,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,2},{122,149}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>Dish2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,887},{124,149}}</string>
                <key>offset</key>
                <string>{34,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,2},{124,149}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>Dish2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,899},{126,149}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{126,149}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>Dish2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1025},{118,149}}</string>
                <key>offset</key>
                <string>{-27,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{118,149}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>Dish2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,770},{114,151}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{114,151}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>Dish2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,787},{110,151}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{110,151}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>Dish2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,772},{110,151}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{110,151}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>Dish2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,155},{112,151}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{112,151}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>Dish2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,886},{110,151}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,0},{110,151}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>Dish2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,772},{106,151}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,0},{106,151}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>DishDark1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,2},{130,162}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,162}}</string>
                <key>sourceSize</key>
                <string>{192,162}</string>
            </dict>
            <key>DishDark1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,2},{130,162}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,0},{130,162}}</string>
                <key>sourceSize</key>
                <string>{192,162}</string>
            </dict>
            <key>DishDark1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1846},{132,162}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{132,162}}</string>
                <key>sourceSize</key>
                <string>{192,162}</string>
            </dict>
            <key>DishDark1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1682},{132,162}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{132,162}}</string>
                <key>sourceSize</key>
                <string>{192,162}</string>
            </dict>
            <key>DishDark1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1682},{134,162}}</string>
                <key>offset</key>
                <string>{29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{134,162}}</string>
                <key>sourceSize</key>
                <string>{192,162}</string>
            </dict>
            <key>DishDark1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,266},{128,162}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{128,162}}</string>
                <key>sourceSize</key>
                <string>{192,162}</string>
            </dict>
            <key>DishDark1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,266},{128,162}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{128,162}}</string>
                <key>sourceSize</key>
                <string>{192,162}</string>
            </dict>
            <key>DishDark1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,526},{126,162}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{126,162}}</string>
                <key>sourceSize</key>
                <string>{192,162}</string>
            </dict>
            <key>DishDark1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,774},{114,160}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{114,160}}</string>
                <key>sourceSize</key>
                <string>{192,162}</string>
            </dict>
            <key>DishDark1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,647},{118,160}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,2},{118,160}}</string>
                <key>sourceSize</key>
                <string>{192,162}</string>
            </dict>
            <key>DishDark1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,647},{118,160}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,2},{118,160}}</string>
                <key>sourceSize</key>
                <string>{192,162}</string>
            </dict>
            <key>DishDark1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,667},{118,160}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,2},{118,160}}</string>
                <key>sourceSize</key>
                <string>{192,162}</string>
            </dict>
            <key>DishDark1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,667},{118,160}}</string>
                <key>offset</key>
                <string>{21,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,2},{118,160}}</string>
                <key>sourceSize</key>
                <string>{192,162}</string>
            </dict>
            <key>DishDark2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,880},{128,149}}</string>
                <key>offset</key>
                <string>{-32,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,149}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>DishDark2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,767},{110,151}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,0},{110,151}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>DishDark2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1027},{114,149}}</string>
                <key>offset</key>
                <string>{29,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,2},{114,149}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>DishDark2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,1008},{122,149}}</string>
                <key>offset</key>
                <string>{32,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,2},{122,149}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>DishDark2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,899},{124,149}}</string>
                <key>offset</key>
                <string>{34,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,2},{124,149}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>DishDark2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,880},{126,149}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{126,149}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>DishDark2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1014},{118,149}}</string>
                <key>offset</key>
                <string>{-27,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{118,149}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>DishDark2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,654},{114,151}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{114,151}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>DishDark2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,614},{110,151}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{110,151}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>DishDark2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,461},{110,151}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{110,151}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>DishDark2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{112,151}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{112,151}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>DishDark2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,308},{110,151}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{110,151}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>DishDark2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,772},{106,151}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,0},{106,151}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>LightGreenAngle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,269},{50,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,53}}</string>
                <key>sourceSize</key>
                <string>{50,53}</string>
            </dict>
            <key>LightGreenAngle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,214},{50,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,53}}</string>
                <key>sourceSize</key>
                <string>{50,53}</string>
            </dict>
            <key>LightGreenAngle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2010},{30,27}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,20},{30,27}}</string>
                <key>sourceSize</key>
                <string>{50,53}</string>
            </dict>
            <key>LightGreenAngle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2022},{10,9}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,36},{10,9}}</string>
                <key>sourceSize</key>
                <string>{50,53}</string>
            </dict>
            <key>LightGreenCenter_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,161},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,51}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>LightGreenCenter_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,108},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,51}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>LightGreenCenter_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2010},{30,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{30,27}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>LightGreenCenter_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2022},{10,9}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,21},{10,9}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>LightRedAngle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,379},{48,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,53}}</string>
                <key>sourceSize</key>
                <string>{48,53}</string>
            </dict>
            <key>LightRedAngle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,324},{48,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,53}}</string>
                <key>sourceSize</key>
                <string>{48,53}</string>
            </dict>
            <key>LightRedAngle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,2010},{30,27}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,19},{30,27}}</string>
                <key>sourceSize</key>
                <string>{48,53}</string>
            </dict>
            <key>LightRedAngle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2010},{10,9}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,32},{10,9}}</string>
                <key>sourceSize</key>
                <string>{48,53}</string>
            </dict>
            <key>LightRedCenter_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,55},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,51}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>LightRedCenter_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,2},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,51}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>LightRedCenter_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2010},{30,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{30,27}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>LightRedCenter_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2010},{10,9}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,21},{10,9}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>Tower1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,647},{123,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,418}}</string>
                <key>sourceSize</key>
                <string>{123,418}</string>
            </dict>
            <key>Tower1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,522},{123,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,418}}</string>
                <key>sourceSize</key>
                <string>{123,418}</string>
            </dict>
            <key>Tower1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,542},{123,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,418}}</string>
                <key>sourceSize</key>
                <string>{123,418}</string>
            </dict>
            <key>Tower1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,522},{123,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,418}}</string>
                <key>sourceSize</key>
                <string>{123,418}</string>
            </dict>
            <key>Tower1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,397},{123,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,418}}</string>
                <key>sourceSize</key>
                <string>{123,418}</string>
            </dict>
            <key>Tower1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,417},{123,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,418}}</string>
                <key>sourceSize</key>
                <string>{123,418}</string>
            </dict>
            <key>Tower2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,147},{143,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,418}}</string>
                <key>sourceSize</key>
                <string>{143,418}</string>
            </dict>
            <key>Tower2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,2},{143,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,418}}</string>
                <key>sourceSize</key>
                <string>{143,418}</string>
            </dict>
            <key>Tower2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{143,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,418}}</string>
                <key>sourceSize</key>
                <string>{143,418}</string>
            </dict>
            <key>Tower2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{143,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,418}}</string>
                <key>sourceSize</key>
                <string>{143,418}</string>
            </dict>
            <key>Tower2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1262},{143,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,418}}</string>
                <key>sourceSize</key>
                <string>{143,418}</string>
            </dict>
            <key>Tower2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,842},{143,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,418}}</string>
                <key>sourceSize</key>
                <string>{143,418}</string>
            </dict>
            <key>TowerDark1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,397},{123,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,418}}</string>
                <key>sourceSize</key>
                <string>{123,418}</string>
            </dict>
            <key>TowerDark1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,272},{123,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,418}}</string>
                <key>sourceSize</key>
                <string>{123,418}</string>
            </dict>
            <key>TowerDark1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,292},{123,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,418}}</string>
                <key>sourceSize</key>
                <string>{123,418}</string>
            </dict>
            <key>TowerDark1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,272},{123,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,418}}</string>
                <key>sourceSize</key>
                <string>{123,418}</string>
            </dict>
            <key>TowerDark1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,147},{123,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,418}}</string>
                <key>sourceSize</key>
                <string>{123,418}</string>
            </dict>
            <key>TowerDark1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,147},{123,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,418}}</string>
                <key>sourceSize</key>
                <string>{123,418}</string>
            </dict>
            <key>TowerDark2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,422},{143,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,418}}</string>
                <key>sourceSize</key>
                <string>{143,418}</string>
            </dict>
            <key>TowerDark2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{143,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,418}}</string>
                <key>sourceSize</key>
                <string>{143,418}</string>
            </dict>
            <key>TowerDark2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1262},{143,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,418}}</string>
                <key>sourceSize</key>
                <string>{143,418}</string>
            </dict>
            <key>TowerDark2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{143,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,418}}</string>
                <key>sourceSize</key>
                <string>{143,418}</string>
            </dict>
            <key>TowerDark2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{143,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,418}}</string>
                <key>sourceSize</key>
                <string>{143,418}</string>
            </dict>
            <key>TowerDark2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,418}}</string>
                <key>sourceSize</key>
                <string>{143,418}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Planet2_AnimatedSprites.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc3c15fb7902f52cfba4495a0c3f7949$</string>
            <key>textureFileName</key>
            <string>Planet2_AnimatedSprites.png</string>
        </dict>
    </dict>
</plist>
