<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Digger_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,959},{187,103}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{187,103}}</string>
                <key>sourceSize</key>
                <string>{205,133}</string>
            </dict>
            <key>Digger_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,770},{187,105}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{187,105}}</string>
                <key>sourceSize</key>
                <string>{205,133}</string>
            </dict>
            <key>Digger_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,581},{187,105}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{187,105}}</string>
                <key>sourceSize</key>
                <string>{205,133}</string>
            </dict>
            <key>Digger_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,682},{187,105}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{187,105}}</string>
                <key>sourceSize</key>
                <string>{205,133}</string>
            </dict>
            <key>Digger_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,294},{187,109}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{187,109}}</string>
                <key>sourceSize</key>
                <string>{205,133}</string>
            </dict>
            <key>Digger_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,1060},{187,117}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{187,117}}</string>
                <key>sourceSize</key>
                <string>{205,133}</string>
            </dict>
            <key>Digger_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,978},{187,123}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{187,123}}</string>
                <key>sourceSize</key>
                <string>{205,133}</string>
            </dict>
            <key>Digger_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,871},{187,129}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{187,129}}</string>
                <key>sourceSize</key>
                <string>{205,133}</string>
            </dict>
            <key>Digger_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,768},{201,127}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,127}}</string>
                <key>sourceSize</key>
                <string>{205,133}</string>
            </dict>
            <key>Digger_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,1058},{205,121}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{205,121}}</string>
                <key>sourceSize</key>
                <string>{205,133}</string>
            </dict>
            <key>Digger_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,483},{197,105}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{197,105}}</string>
                <key>sourceSize</key>
                <string>{205,133}</string>
            </dict>
            <key>Digger_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,585},{189,105}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{189,105}}</string>
                <key>sourceSize</key>
                <string>{205,133}</string>
            </dict>
            <key>Drill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,776},{100,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,200}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1781},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1305},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1451},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1367},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1781},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1781},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1451},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1781},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1451},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1781},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1903,1581},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,1487},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,1385},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,1348},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,1251},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,1153},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,1153},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1328},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1328},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1226},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1226},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,1381},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,1283},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,1181},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,1181},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,1148},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,1051},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,1051},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1203},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,1176},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1167},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1101},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,1074},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,1051},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1124},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1124},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1022},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1022},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,999},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,920},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,818},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,972},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,897},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,870},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>Drill_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,768},{100,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>P3Gear_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,1255},{183,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{183,186}}</string>
                <key>sourceSize</key>
                <string>{187,186}</string>
            </dict>
            <key>P3Gear_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1781},{187,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{187,182}}</string>
                <key>sourceSize</key>
                <string>{187,186}</string>
            </dict>
            <key>P3Gear_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1781},{187,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,186}}</string>
                <key>sourceSize</key>
                <string>{187,186}</string>
            </dict>
            <key>P3Gear_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,1781},{185,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{185,186}}</string>
                <key>sourceSize</key>
                <string>{187,186}</string>
            </dict>
            <key>P3Gear_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,1589},{185,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{185,186}}</string>
                <key>sourceSize</key>
                <string>{187,186}</string>
            </dict>
            <key>P3Gear_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1589},{187,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,186}}</string>
                <key>sourceSize</key>
                <string>{187,186}</string>
            </dict>
            <key>P3Gear_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1589},{187,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{187,182}}</string>
                <key>sourceSize</key>
                <string>{187,186}</string>
            </dict>
            <key>P3Gear_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1589},{187,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,186}}</string>
                <key>sourceSize</key>
                <string>{187,186}</string>
            </dict>
            <key>P3Gear_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1781},{185,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{185,186}}</string>
                <key>sourceSize</key>
                <string>{187,186}</string>
            </dict>
            <key>P3Gear_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1589},{183,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{183,186}}</string>
                <key>sourceSize</key>
                <string>{187,186}</string>
            </dict>
            <key>P3Gear_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1589},{185,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{185,186}}</string>
                <key>sourceSize</key>
                <string>{187,186}</string>
            </dict>
            <key>P3Gear_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1589},{187,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,186}}</string>
                <key>sourceSize</key>
                <string>{187,186}</string>
            </dict>
            <key>P4Gear_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,817},{232,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{232,235}}</string>
                <key>sourceSize</key>
                <string>{236,235}</string>
            </dict>
            <key>P4Gear_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,585},{236,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{236,231}}</string>
                <key>sourceSize</key>
                <string>{236,235}</string>
            </dict>
            <key>P4Gear_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,531},{236,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,235}}</string>
                <key>sourceSize</key>
                <string>{236,235}</string>
            </dict>
            <key>P4Gear_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,822},{234,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{234,235}}</string>
                <key>sourceSize</key>
                <string>{236,235}</string>
            </dict>
            <key>P4Gear_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,586},{234,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{234,235}}</string>
                <key>sourceSize</key>
                <string>{236,235}</string>
            </dict>
            <key>P4Gear_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,531},{236,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,235}}</string>
                <key>sourceSize</key>
                <string>{236,235}</string>
            </dict>
            <key>P4Gear_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,585},{236,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{236,231}}</string>
                <key>sourceSize</key>
                <string>{236,235}</string>
            </dict>
            <key>P4Gear_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,294},{236,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,235}}</string>
                <key>sourceSize</key>
                <string>{236,235}</string>
            </dict>
            <key>P4Gear_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,581},{234,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{234,235}}</string>
                <key>sourceSize</key>
                <string>{236,235}</string>
            </dict>
            <key>P4Gear_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,817},{232,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{232,235}}</string>
                <key>sourceSize</key>
                <string>{236,235}</string>
            </dict>
            <key>P4Gear_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,581},{234,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{234,235}}</string>
                <key>sourceSize</key>
                <string>{236,235}</string>
            </dict>
            <key>P4Gear_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,294},{236,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,235}}</string>
                <key>sourceSize</key>
                <string>{236,235}</string>
            </dict>
            <key>P5Gear_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,294},{285,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{285,290}}</string>
                <key>sourceSize</key>
                <string>{291,290}</string>
            </dict>
            <key>P5Gear_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,2},{291,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{291,286}}</string>
                <key>sourceSize</key>
                <string>{291,290}</string>
            </dict>
            <key>P5Gear_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,2},{291,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,290}}</string>
                <key>sourceSize</key>
                <string>{291,290}</string>
            </dict>
            <key>P5Gear_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,294},{289,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{289,290}}</string>
                <key>sourceSize</key>
                <string>{291,290}</string>
            </dict>
            <key>P5Gear_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{289,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{289,290}}</string>
                <key>sourceSize</key>
                <string>{291,290}</string>
            </dict>
            <key>P5Gear_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{291,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,290}}</string>
                <key>sourceSize</key>
                <string>{291,290}</string>
            </dict>
            <key>P5Gear_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,2},{291,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{291,286}}</string>
                <key>sourceSize</key>
                <string>{291,290}</string>
            </dict>
            <key>P5Gear_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,2},{291,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,290}}</string>
                <key>sourceSize</key>
                <string>{291,290}</string>
            </dict>
            <key>P5Gear_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,290},{289,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{289,290}}</string>
                <key>sourceSize</key>
                <string>{291,290}</string>
            </dict>
            <key>P5Gear_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,2},{285,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{285,290}}</string>
                <key>sourceSize</key>
                <string>{291,290}</string>
            </dict>
            <key>P5Gear_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,290},{289,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{289,290}}</string>
                <key>sourceSize</key>
                <string>{291,290}</string>
            </dict>
            <key>P5Gear_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{291,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,290}}</string>
                <key>sourceSize</key>
                <string>{291,290}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Planet3_AnimatedSprites.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abf4ffd1f04c71e270a95ca520b18e9d$</string>
            <key>textureFileName</key>
            <string>Planet3_AnimatedSprites.png</string>
        </dict>
    </dict>
</plist>
