<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,2},{751,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{751,27}}</string>
                <key>sourceSize</key>
                <string>{751,27}</string>
            </dict>
            <key>booster.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,692},{143,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,91}}</string>
                <key>sourceSize</key>
                <string>{143,91}</string>
            </dict>
            <key>boosterUpgrade_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,669},{204,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,136}}</string>
                <key>sourceSize</key>
                <string>{204,136}</string>
            </dict>
            <key>boosterUpgrade_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,554},{204,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,136}}</string>
                <key>sourceSize</key>
                <string>{204,136}</string>
            </dict>
            <key>boosterUpgrade_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,416},{204,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,136}}</string>
                <key>sourceSize</key>
                <string>{204,136}</string>
            </dict>
            <key>boosterUpgrade_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,278},{204,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,136}}</string>
                <key>sourceSize</key>
                <string>{204,136}</string>
            </dict>
            <key>boosterUpgrade_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1877,2},{204,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,136}}</string>
                <key>sourceSize</key>
                <string>{204,136}</string>
            </dict>
            <key>boosterUpgrade_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1671,140},{204,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,136}}</string>
                <key>sourceSize</key>
                <string>{204,136}</string>
            </dict>
            <key>boosterUpgrade_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,531},{204,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,136}}</string>
                <key>sourceSize</key>
                <string>{204,136}</string>
            </dict>
            <key>boosterUpgrade_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,393},{204,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,136}}</string>
                <key>sourceSize</key>
                <string>{204,136}</string>
            </dict>
            <key>boosterUpgrade_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1671,2},{204,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,136}}</string>
                <key>sourceSize</key>
                <string>{204,136}</string>
            </dict>
            <key>boosterUpgrade_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,255},{204,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,136}}</string>
                <key>sourceSize</key>
                <string>{204,136}</string>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{691,691}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{691,691}}</string>
                <key>sourceSize</key>
                <string>{691,691}</string>
            </dict>
            <key>pivot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,2},{241,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,251}}</string>
                <key>sourceSize</key>
                <string>{241,251}</string>
            </dict>
            <key>shocksBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2016},{159,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,5}}</string>
                <key>sourceSize</key>
                <string>{159,5}</string>
            </dict>
            <key>shocksEnd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2015,2},{13,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,11}}</string>
                <key>sourceSize</key>
                <string>{13,11}</string>
            </dict>
            <key>shocksPiston.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1412},{81,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,9}}</string>
                <key>sourceSize</key>
                <string>{81,9}</string>
            </dict>
            <key>thingy_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,1219},{101,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,95}}</string>
                <key>sourceSize</key>
                <string>{101,95}</string>
            </dict>
            <key>thingy_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,1076},{101,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,95}}</string>
                <key>sourceSize</key>
                <string>{101,95}</string>
            </dict>
            <key>thingy_fall_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,979},{101,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,95}}</string>
                <key>sourceSize</key>
                <string>{101,95}</string>
            </dict>
            <key>thingy_fall_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,882},{101,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,95}}</string>
                <key>sourceSize</key>
                <string>{101,95}</string>
            </dict>
            <key>thingy_fall_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,785},{101,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,95}}</string>
                <key>sourceSize</key>
                <string>{101,95}</string>
            </dict>
            <key>thingy_float_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,1116},{101,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,95}}</string>
                <key>sourceSize</key>
                <string>{101,95}</string>
            </dict>
            <key>thingy_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,1013},{101,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,95}}</string>
                <key>sourceSize</key>
                <string>{101,95}</string>
            </dict>
            <key>thingy_left_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,910},{101,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,95}}</string>
                <key>sourceSize</key>
                <string>{101,95}</string>
            </dict>
            <key>thingy_left_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,807},{101,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,95}}</string>
                <key>sourceSize</key>
                <string>{101,95}</string>
            </dict>
            <key>thingy_left_fall_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,1195},{101,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,95}}</string>
                <key>sourceSize</key>
                <string>{101,95}</string>
            </dict>
            <key>thingy_left_fall_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,1098},{101,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,95}}</string>
                <key>sourceSize</key>
                <string>{101,95}</string>
            </dict>
            <key>thingy_left_fall_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,1195},{101,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,95}}</string>
                <key>sourceSize</key>
                <string>{101,95}</string>
            </dict>
            <key>thingy_left_float_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,1001},{101,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,95}}</string>
                <key>sourceSize</key>
                <string>{101,95}</string>
            </dict>
            <key>thingy_left_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,1098},{101,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,95}}</string>
                <key>sourceSize</key>
                <string>{101,95}</string>
            </dict>
            <key>thingy_left_spin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,904},{101,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,95}}</string>
                <key>sourceSize</key>
                <string>{101,95}</string>
            </dict>
            <key>thingy_right_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,1001},{101,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,95}}</string>
                <key>sourceSize</key>
                <string>{101,95}</string>
            </dict>
            <key>thingy_right_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,807},{101,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,95}}</string>
                <key>sourceSize</key>
                <string>{101,95}</string>
            </dict>
            <key>thingy_right_fall_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,904},{101,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,95}}</string>
                <key>sourceSize</key>
                <string>{101,95}</string>
            </dict>
            <key>thingy_right_fall_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,807},{101,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,95}}</string>
                <key>sourceSize</key>
                <string>{101,95}</string>
            </dict>
            <key>thingy_right_fall_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,596},{101,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,95}}</string>
                <key>sourceSize</key>
                <string>{101,95}</string>
            </dict>
            <key>thingy_right_float_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,499},{101,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,95}}</string>
                <key>sourceSize</key>
                <string>{101,95}</string>
            </dict>
            <key>thingy_right_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,402},{101,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,95}}</string>
                <key>sourceSize</key>
                <string>{101,95}</string>
            </dict>
            <key>thingy_right_spin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,305},{101,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,95}}</string>
                <key>sourceSize</key>
                <string>{101,95}</string>
            </dict>
            <key>thingy_spin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1877,208},{101,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,95}}</string>
                <key>sourceSize</key>
                <string>{101,95}</string>
            </dict>
            <key>wheelHub.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1412},{610,602}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,602}}</string>
                <key>sourceSize</key>
                <string>{612,612}</string>
            </dict>
            <key>wheelHubUpgrade_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,1348},{661,651}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,26},{661,651}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>wheelHubUpgrade_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,1348},{661,651}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,26},{661,651}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>wheelHubUpgrade_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,695},{661,651}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,26},{661,651}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>wheelTire.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,707},{701,703}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{701,703}}</string>
                <key>sourceSize</key>
                <string>{703,703}</string>
            </dict>
            <key>wheelTireUpgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{702,703}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{702,703}}</string>
                <key>sourceSize</key>
                <string>{702,703}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spriteAtlas-hd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66a16f9d314ef07f402431bd6f2ce894$</string>
            <key>textureFileName</key>
            <string>spriteAtlas-hd.png</string>
        </dict>
    </dict>
</plist>
