<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wheelHubUpgrade_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,330},{332,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{332,326}}</string>
                <key>sourceSize</key>
                <string>{352,352}</string>
            </dict>
            <key>wheelHubUpgrade_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,330},{332,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{332,326}}</string>
                <key>sourceSize</key>
                <string>{352,352}</string>
            </dict>
            <key>wheelHubUpgrade_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{332,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,13},{332,326}}</string>
                <key>sourceSize</key>
                <string>{352,352}</string>
            </dict>
            <key>wheelHubUpgrade_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{332,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,13},{332,326}}</string>
                <key>sourceSize</key>
                <string>{352,352}</string>
            </dict>
            <key>wheelHubUpgrade_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{332,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{332,326}}</string>
                <key>sourceSize</key>
                <string>{352,352}</string>
            </dict>
            <key>wheelHubUpgrade_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{332,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{332,326}}</string>
                <key>sourceSize</key>
                <string>{352,352}</string>
            </dict>
            <key>wheelHubUpgrade_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{332,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{332,326}}</string>
                <key>sourceSize</key>
                <string>{352,352}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spriteAtlas2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3ee51277d0b4d2ad75dd0940f486c5f$</string>
            <key>textureFileName</key>
            <string>spriteAtlas2.png</string>
        </dict>
    </dict>
</plist>
