<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{376,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,14}}</string>
                <key>sourceSize</key>
                <string>{376,14}</string>
            </dict>
            <key>booster.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,72},{72,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,46}}</string>
                <key>sourceSize</key>
                <string>{72,46}</string>
            </dict>
            <key>boosterUpgrade_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,708},{102,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,68}}</string>
                <key>sourceSize</key>
                <string>{102,68}</string>
            </dict>
            <key>boosterUpgrade_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,778},{102,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,68}}</string>
                <key>sourceSize</key>
                <string>{102,68}</string>
            </dict>
            <key>boosterUpgrade_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,848},{102,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,68}}</string>
                <key>sourceSize</key>
                <string>{102,68}</string>
            </dict>
            <key>boosterUpgrade_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,708},{102,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,68}}</string>
                <key>sourceSize</key>
                <string>{102,68}</string>
            </dict>
            <key>boosterUpgrade_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,778},{102,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,68}}</string>
                <key>sourceSize</key>
                <string>{102,68}</string>
            </dict>
            <key>boosterUpgrade_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,708},{102,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,68}}</string>
                <key>sourceSize</key>
                <string>{102,68}</string>
            </dict>
            <key>boosterUpgrade_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,270},{102,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,68}}</string>
                <key>sourceSize</key>
                <string>{102,68}</string>
            </dict>
            <key>boosterUpgrade_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,200},{102,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,68}}</string>
                <key>sourceSize</key>
                <string>{102,68}</string>
            </dict>
            <key>boosterUpgrade_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,2},{102,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,68}}</string>
                <key>sourceSize</key>
                <string>{102,68}</string>
            </dict>
            <key>boosterUpgrade_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,130},{102,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,68}}</string>
                <key>sourceSize</key>
                <string>{102,68}</string>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{346,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,346}}</string>
                <key>sourceSize</key>
                <string>{346,346}</string>
            </dict>
            <key>pivot.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{121,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,126}}</string>
                <key>sourceSize</key>
                <string>{121,126}</string>
            </dict>
            <key>shocksBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,710},{80,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,3}}</string>
                <key>sourceSize</key>
                <string>{80,3}</string>
            </dict>
            <key>shocksEnd.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,350},{7,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,6}}</string>
                <key>sourceSize</key>
                <string>{7,6}</string>
            </dict>
            <key>shocksPiston.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{41,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,5}}</string>
                <key>sourceSize</key>
                <string>{41,5}</string>
            </dict>
            <key>thingy_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,289},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>thingy_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,236},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>thingy_fall_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,183},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>thingy_fall_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,130},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>thingy_fall_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,928},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>thingy_float_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,928},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>thingy_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,878},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>thingy_left_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,878},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>thingy_left_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,72},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>thingy_left_fall_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,828},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>thingy_left_fall_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,828},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>thingy_left_fall_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,951},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>thingy_left_float_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,898},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>thingy_left_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,948},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>thingy_left_spin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,898},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>thingy_right_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,968},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>thingy_right_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,968},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>thingy_right_fall_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,778},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>thingy_right_fall_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,848},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>thingy_right_fall_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,918},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>thingy_right_float_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,778},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>thingy_right_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,848},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>thingy_right_spin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,918},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>thingy_spin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,2},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>wheelHub.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{306,302}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,302}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>wheelHubUpgrade_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,678},{332,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{332,326}}</string>
                <key>sourceSize</key>
                <string>{352,352}</string>
            </dict>
            <key>wheelHubUpgrade_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,380},{332,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{332,326}}</string>
                <key>sourceSize</key>
                <string>{352,352}</string>
            </dict>
            <key>wheelHubUpgrade_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,350},{332,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{332,326}}</string>
                <key>sourceSize</key>
                <string>{352,352}</string>
            </dict>
            <key>wheelTire.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{352,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,352}}</string>
                <key>sourceSize</key>
                <string>{352,352}</string>
            </dict>
            <key>wheelTireUpgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{351,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,352}}</string>
                <key>sourceSize</key>
                <string>{351,352}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spriteAtlas.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e00ae71067ca887126771985c993b3a$</string>
            <key>textureFileName</key>
            <string>spriteAtlas.png</string>
        </dict>
    </dict>
</plist>
