<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deadAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<integer>1</integer>
		<key>filenamePrefix</key>
		<string>thingy_die_</string>
	</dict>
	<key>deadLeftAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<integer>1</integer>
		<key>filenamePrefix</key>
		<string>thingy_left_die_</string>
	</dict>
	<key>deadRightAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<integer>1</integer>
		<key>filenamePrefix</key>
		<string>thingy_right_die_</string>
	</dict>
	<key>fallingAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>thingy_fall_</string>
		<key>delay</key>
		<real>0.25</real>
		<key>animationFrames</key>
		<string>1,2,3</string>
	</dict>
	<key>fallingLeftAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>thingy_left_fall_</string>
		<key>delay</key>
		<real>0.25</real>
		<key>animationFrames</key>
		<string>1,2,3</string>
	</dict>
	<key>fallingRightAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>thingy_right_fall_</string>
		<key>delay</key>
		<real>0.25</real>
		<key>animationFrames</key>
		<string>1,2,3</string>
	</dict>
	<key>floatingAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>thingy_float_</string>
		<key>delay</key>
		<real>0.25</real>
		<key>animationFrames</key>
		<string>1</string>
	</dict>
	<key>floatingLeftAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>thingy_left_float_</string>
		<key>delay</key>
		<real>0.25</real>
		<key>animationFrames</key>
		<string>1</string>
	</dict>
	<key>floatingRightAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>thingy_right_float_</string>
		<key>delay</key>
		<real>0.25</real>
		<key>animationFrames</key>
		<string>1</string>
	</dict>
	<key>idleAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>thingy_idle_</string>
		<key>delay</key>
		<real>0.25</real>
		<key>animationFrames</key>
		<string>1</string>
	</dict>
	<key>idleLeftAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>thingy_left_idle_</string>
		<key>delay</key>
		<real>0.25</real>
		<key>animationFrames</key>
		<string>1</string>
	</dict>
	<key>idleRightAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>thingy_right_idle_</string>
		<key>delay</key>
		<real>0.25</real>
		<key>animationFrames</key>
		<string>1</string>
	</dict>
	<key>spinAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>thingy_spin_</string>
		<key>delay</key>
		<real>0.25</real>
		<key>animationFrames</key>
		<string>1</string>
	</dict>
	<key>spinLeftAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>thingy_left_spin_</string>
		<key>delay</key>
		<real>0.25</real>
		<key>animationFrames</key>
		<string>1</string>
	</dict>
	<key>spinRightAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>thingy_right_spin_</string>
		<key>delay</key>
		<real>0.25</real>
		<key>animationFrames</key>
		<string>1</string>
	</dict>
</dict>
</plist>
