<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Catch_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,486},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,486},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,486},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1774},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1452},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1130},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,808},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,486},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1774},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1452},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1130},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,808},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,486},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,244},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,244},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,244},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,244},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,244},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1532},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1210},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,2},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,2},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Catch_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CatchFrames.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fed430881fb60eb86e8df86aee7393f9$</string>
            <key>textureFileName</key>
            <string>CatchFrames.png</string>
        </dict>
    </dict>
</plist>
