<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drive</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41</string>
		<key>delay</key>
		<real>0.09</real>
		<key>filenamePrefix</key>
		<string>Drive_</string>
	</dict>
</dict>
</plist>
